<div class="row">
	<div class="col-sm-12">
		<a ng-if="ctrl.edit" ng-show="ctrl.isAuthenticated() && ctrl.isAdmin()" ui-sref="admin.applications" class="cursor-pointer"> <i class="glyphicon glyphicon-plus" aria-hidden="true" />Add New Applications </a>
		<span class="pull-right"> <small>Available Apps Count: </small><span class="badge">{{ctrl.apps.length}}</span></span>
	</div>
	<div class="col-sm-12">
		<table class="table">
			<thead>
				<tr class="info">
					<th ng-if="ctrl.isAdmin()">Id</th>
					<th>Applications Name</th>
					<!-- <th>Applications URL</th> -->
					<th ng-if="ctrl.isAdmin() && ctrl.edit">Active</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="app in ctrl.apps | orderBy : 'app_id'">
					<td ng-if="ctrl.isAdmin()">{{app.app_id}}</td>
					<td>
						<a ng-show="app.active" href="{{app.app_url}}" target="_blank" class="cursor-pointer">{{app.app_name}}</a>
						<span ng-show="!app.active">{{app.app_name}}</span>
						<span class="label label-warning" ng-show="!app.active">App is Deactivated!</span>
					</td>
					<!-- <td>{{app.app_url}}</td> -->
					<td ng-if="ctrl.isAdmin() && ctrl.edit">
						<span>
							<input type="checkbox" ng-model="app.active" ng-change="ctrl.changeAppState(app)">
						</span>
						<span>
							<a title="Edit" class="cursor-pointer" ng-click="ctrl.modify(app.app_id)"><i class="glyphicon glyphicon-edit" aria-hidden="true" /></a>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>