<h2></h2>
<div class="form-group has-warning">
<form class="form-signin" name="register" ng-submit="ctrl.submit()">
    <h1 class="form-signin-heading text-muted"><small>Register</small></h1>
    <!-- <input type="checkbox" name="userrole" ng-model="userrole"><label for="userole">Make me admin</label> -->

    <input type="text" class="form-control" ng-model="ctrl.username" placeholder="User Name" required="" autofocus="">

    <input type="email" class="form-control" ng-model="ctrl.email_id" placeholder="Email address" required="" autofocus="">

    <input type="password" name="password" ng-model="ctrl.password" class="form-control" placeholder="Password" required="" >

    <input type="password" name="password_confirm" ng-model="ctrl.password_confirm" class="form-control" placeholder="Confirm Password" required="">

    <input type="text" class="form-control" ng-model="ctrl.address" placeholder="Address" required="" autofocus="">

    <input type="text" class="form-control" ng-model="ctrl.zipcode" placeholder="Zip Code" required="" autofocus="">

    <input type="text" class="form-control" ng-model="ctrl.companyname" placeholder="Company Name" required="" autofocus="">

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign Up
    </button>
</form>
</div>
