<div class="panel panel-default">
    <div class="panel-heading">Update Roles</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-sm-6">
                <label for="multipleSelect"> Available Roles (Multiple select): </label>
                <br/>
                <select class="form-control" name="multipleSelect" id="multipleSelect" ng-model="ctrl.data.multipleSelect" multiple>
                    <option value="">---Please select---</option>
                    <option ng-repeat="option in ctrl.data.roles" value="{{option.role_id}}">{{option.role_id}} : {{option.role_name}}</option>
                </select>
            </div>

            <div class="col-sm-6">
                <label> New Role(s) selected </label>
                <br/>
                <tt>{{ctrl.data.multipleSelect}}</tt>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <button ng-disabled="!ctrl.data.multipleSelect.length" class="btn btn-sm btn-primary" type="button" ng-click="ctrl.updateUserRole()">
            Assign Roles
        </button>
    </div>
</div>